<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8" />
        <title>歡迎來到我的個人網站</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="text-center">
            <div style="background-color: #062c4b; color: white; font-size: 30px;">歡迎光臨，請輸入帳號密碼</div><br>
            <h4>註冊帳號</h4>        
            <form action="/signup" method="POST">
            <label>姓名</label>
            <input type="text" name="name"><br>
            <label>帳號</label>
            <input type="text" name="usrname"><br>            
            <label>密碼</label>
            <input type="password" name="passwd"><br><br>
            <button>註冊</button>
            </form><br>
        </div>        
        <div style="border: solid 1px;"></div><br>
        <div class="text-center">
            <h4>登入系統</h4>        
            <form action="/signin" method="POST">
            <label>帳號</label>
            <input type="text" name="username"><br>
            <label>密碼</label>
            <input type="password" name="pwd"><br><br>
            <button>登入</button>
            </form><br>
        </div>
    </body>
</html>